div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set height to your preference */
}

.img-juju {
  width: 300px;
  height: auto;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
