<div class="addition-container">
    <h2>Let's Subtract!</h2>
  
    @if (currentProblem) {
      <div class="math-equation">
        <p>
          {{ currentProblem.number1 }} - {{ currentProblem.number2 }} = ?
        </p>
        <div class="choices">
          @for (choice of currentProblem.choices; track choice) {
            <button
              (click)="checkAnswer(choice)"
              class="choice-button"
            >
              {{ choice }}
            </button>
          }
        </div>
      </div>
    } @else {
      <div>
        <p>No more problems! Great job!</p>
      </div>
    }
  </div>