html, body {
  height: 100%; /* Ensures the background color covers the entire viewport */
  margin: 0; /* Removes default margin */
  font-family: 'Fredoka One', sans-serif;
  color: #333;
  background-color: rgb(221, 244, 237); /* Set your desired background color */
  display: flex; /* Enables flex behavior */
  flex-direction: column; /* Ensures children stack vertically */
}


main {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  transition: margin-left 0.3s ease, margin-right 0.3s ease; /* Smooth transition */
  max-width: 900px; /* Limit the width of the main content */
  background-color: rgb(221, 244, 237);
}

.side-nav + main {
  margin-left: 250px; /* Default width of the nav */
}

.collapsed + main {
  margin-left: 60px; /* Adjust when the nav is collapsed */
}

@media (max-width: 768px) {
  .side-nav + main {
    margin-left: 60px; /* Default for collapsed nav on small screens */
  }

  .collapsed + main {
    margin-left: 60px;
  }

  main {
    max-width: 100%; /* Use the full width of the screen */
    padding: 0.5rem;
  }
}

